<div class="row" ng-controller="PlaylistsCtrl as $ctrl" ng-cloak>
  <div class="col">
    <playlists-list
      playlists="$ctrl.playlists"
      selected="$ctrl.selected"
      on-select="$ctrl.select($event)"
    >
    </playlists-list>

    <input
      type="button"
      value="Create New"
      ng-click="$ctrl.showCreateNewForm()"
      class="float-right mt-3 btn btn-info"
    />
  </div>
  <div class="col">
    <playlist-details
      ng-if="$ctrl.selected && $ctrl.mode === 'show' "
      playlist="$ctrl.selected"
      on-edit="$ctrl.edit()"
    ></playlist-details>

    <playlist-form
      ng-if="$ctrl.selected && $ctrl.mode === 'edit' "
      playlist="$ctrl.selected"
      on-save="$ctrl.save($event, placki)"
      on-cancel="$ctrl.cancel()"
    ></playlist-form>

    <p ng-if="!vm.selected">
      Please select playlist
    </p>
  </div>
</div>
