<!--  ng-controller="SearchCtrl as $ctrl" -->
<div>
  <div class="row">
    <div class="col">
      <search-form value="$ctrl.state.query" on-search="$ctrl.redirect($event)">
      </search-form>
      {{$ctrl.message}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <search-results results="$ctrl.state.results"> </search-results>
    </div>
  </div>
</div>
