<div>
  <dl>
    <dt>Name:</dt>
    <dd class="playlist-name">{{playlist.name}}</dd>

    <dt>Favorite:</dt>
    <dd class="playlist-favorite">{{playlist.favorite? 'Yes' : 'No' }}</dd>

    <dt>Color:</dt>
    <dd class="playlist-color"
      ng-style="{ 
        color: playlist.color,
        backgroundColor: playlist.color
      }"
    >
      {{playlist.color}}
    </dd>
  </dl>

  <input type="button" value="Edit" ng-click="onEdit()" />
</div>
