<!-- <pre>{{ $ctrl.playlistForm.name | json }}</pre> -->

<!-- <pre>valid:{{ $ctrl.playlistForm.$valid }}</pre>
<pre>invalid:{{ $ctrl.playlistForm.$invalid }}</pre>
<pre>pending:{{ $ctrl.playlistForm.name.$pending }}</pre> -->

<form name="$ctrl.playlistForm" novalidate ng-submit="$ctrl.save()">
  <div class="form-group">
    <label>Name:</label>
    <input
      username-taken="'batman'"
      username-taken-extra="'name'"
      type="text"
      class="form-control"
      required
      minlength="3"
      name="name"
      ng-model="$ctrl.draft.name"
    />

    <div ng-if="$ctrl.playlistForm.name.$pending">
      Please wait...
    </div>

    <div
      ng-if="$ctrl.playlistForm.name.$touched ||
             $ctrl.playlistForm.name.$dirty ||
             $ctrl.playlistForm.$submitted"
    >
      <div ng-if="$ctrl.playlistForm.name.$error.required">
        Name is required
      </div>
      <div ng-if="$ctrl.playlistForm.name.$error.minlength">
        Name has minimum length of 3
      </div>
      <div ng-if="$ctrl.playlistForm.name.$error.censor">
        You cannot be batman at this moment
      </div>
      <div ng-if="$ctrl.playlistForm.name.$error.usernameTaken">
        Username is taken
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Favorite:</label>
    <input type="checkbox" name="favorite" ng-model="$ctrl.draft.favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" name="color" ng-model="$ctrl.draft.color" />
  </div>

  <input type="button" value="Cancel" ng-click="$ctrl.onCancel()" />

  <input type="submit" value="Save" />
</form>
