<!DOCTYPE html>
<!-- ng-app="app" -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    
    <!-- Router html5 mode -->
    <base href="/">

    <link rel="stylesheet" href="node_modules/angular/angular-csp.css" />
  </head>
  <body ng-controller="AppCtrl">
    <!-- https://getbootstrap.com/docs/4.4/components/navbar/#nav -->

    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" ui-sref="root">Navbar</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item" ui-sref-active="active placki">
              <a class="nav-link" ui-sref="playlists">Playlists</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" ui-sref="search"       
                                  ui-sref-active="active">
                Search</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div class="col">
  <div class="float-right" style="position:absolute; right:0">
    <div ng-repeat="note in notifications">
      {{note.message}}
    </div>
  </div> -->
